Flask==3.0.3
Flask-Cors==4.0.0
requests==2.32.3
python-dotenv==1.0.1
gunicorn==23.0.0

google-generativeai==0.7.2
google-auth==2.42.1
google-auth-httplib2==0.2.1
httplib2==0.31.0
google-api-python-client==2.187.0

rapidfuzz==3.9.4
numpy==1.26.4
deep-translator==1.11.4
